*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    padding-top:4% ;
    padding-left: 10%;

}
.container h1 img{
    width: 60px;
    
}
.container button img{
    width: 30px;
}
.container button{
    color: white;
    margin-top: 15px;
    padding: 3px 3px 4px 8px ;
    width: 130px;
    background:linear-gradient(#9418fd,#571094);
    border-radius: 50px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    margin:20px 0 ;
    outline: none;
    border-radius: 5px;
    padding-top:10px ;
    padding-left: 10px;
    
}
.input-box img{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}